# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gradle/
.idea/

build/
out/
settings.gradle
upload/
src/main/webapp/
src/main/resources/static/upload/
classes/
